@font-face {
  font-family: "dejaVu Sans Mono";
  src: url(./fonts/DejaVuSansMono.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dejaVu Sans Mono";
  src: url(./fonts/DejaVuSansMono-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Dejavu Sans Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-numeric: tabular-nums lining-nums;
  font-kerning: none;
  background-color: rgba(55, 65, 81);
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 321px) and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  html {
    font-size: 18px;
  }
}
